#visual-editor-widget-controller {
    position: fixed;
    top: 60px;
    left: 200px;
    right: 200px;
    bottom: 30px;
    z-index: 50100;
    background: #fff;
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 7px;
}
#visual-editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 50000;
}
#visual-editor-widget-controller .close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
    z-index: 1000;
}
#visual-editor-widget-controller .close span {
    display: block;
    margin: 8px auto 0;
    width: 15px;
    height: 15px;
    background-position: -100px 0;
}
#visual-editor-widget-controller .icon {
    background-image: url(../img/uploader-icons.png);
    background-repeat: no-repeat;
}
#visual-editor-widget-controller .close:active {
    outline: 0;
}
#visual-editor-widget-controller .editor {
    margin: 32px 11px;;
}

#available-widgets [class*=wp_editor_widget] .widget-title:before {
    content: "\f478";
}
.or{
    color:lightgray;
}